{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Inscription{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/editTrick.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="text-center">Inscription</h1>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="logForm w-50">
            {{ form_start(registrationForm) }}
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(registrationForm.username) }}
            {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(registrationForm.plainPassword.first) }}
            {{ form_widget(registrationForm.plainPassword.first, {
                label: 'Mot de passe',
                'attr': {'class': 'form-control'}
            }) }}

            {{ form_label(registrationForm.plainPassword.second) }}
            {{ form_widget(registrationForm.plainPassword.second, {
                label: 'Confirmez votre mot de passe',
                'attr': {'class': 'form-control'}
            }) }}

            <button type="submit" class="btn btn-outline-success mt-3" >S'enregister</button>
            {% if not registrationForm.vars.valid %}
                <ul class="alert alert-danger">
                    {{ form_errors(registrationForm.email) }}
                    {{ form_errors(registrationForm.username) }}
                    {{ form_errors(registrationForm.plainPassword.first) }}
                </ul>
            {% endif %}
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
