{% block header %}
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{{ path('app_home') }}">SnowTricks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('app_home') }}#tricks-list">Tricks</a></li>
                {% if app.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('trick_create') }}">Ajouter un trick</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Inscription</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="sm-navbar">
            <a href="{{ path('app_home') }}"><i class="fa-solid fa-house-chimney"></i></a>
            {% if app.user %}
                <a href="{{ path('trick_create') }}"><i class="fa-solid fa-plus"></i></a>
                <a href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket"></i></a>
            {% else %}
                <a href="{{ path('app_register') }}"><i class="fa-solid fa-bookmark"></i></a>
                <a href="{{ path('app_login') }}"><i class="fa-solid fa-right-to-bracket"></i></a>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}
