<hr>
{% if app.user %}
<div class="trick-form">
    <div class="d-flex gap-3 w-100">
        {{ form_start(form) }}
        {{ form_widget(form.Content) }}
        {{ form_row(form.submit, { 'label': 'Laisser un commentaire'}) }}
        {{ form_end(form) }}
    </div>
</div>
{% else %}
    <div class="alert alert-warning" role="alert">
        Veuillez vous connectez pour accéder au formulaire. <a href="{{ path('app_login') }}"> Se connecter</a>
    </div>
{% endif     %}
<hr>
<div class="trick-comments-area mb-5 text-center">
    {% set showLoadBtn = false %}
    {% if trick.message|length > 5 %}
        {% set showLoadBtn = true %}
    {% endif %}
    {% for key, comment in trick.message %}
        {% if key <= 5 %}
            <div class="trick-comment d-flex flex-row mb-2 gap-3 align-items-center">
                <img src="{{ comment.user.avatar }}" alt="logo-user">
                <p class="trick-comment text-start" >{{ comment.content }}</p>
            </div>
        {% else %}
            {% set array = array|merge(comment) %}
        {% endif %}
    {% endfor %}
    {% if showLoadBtn == true %}
        <button type="submit" class="btn btn-primary">Charger plus de figures </button>
    {% endif %}
</div>
