{% extends 'base.html.twig' %}

{% block title %}Hello TrickController!{% endblock %}
{% block stylesheets %} <link href="{{ asset('css/trick.css') }}" rel="stylesheet"/> {% endblock %}
{% block body %}
    <div class="container container-border container-trick p-0">
        <div class="trick-img">
            <img src="{{ trick.picture[0].Link }}" alt="">
            <h1 class="trick-title">{{ trick.name }}</h1>
            <div class="trick-actions">
                <a class="azure" href="{{ path('trick_edit', { 'id': trick.id }) }}"><i class="fa-solid fa-pencil"></i></a>
                <a class="azure" href="#trick-{{ trick.id }}" onclick="deleteTrick({{ trick.id }}, '{{ trick.name }}')"><i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
        <div class="trick-body-content d-flex flex-column align-items-center mt-3">
            <div class="trick-media" id="media">
                {% for key, picture in trick.picture %}
                    <img src="{{ picture.Link }}" alt="Photo n°{{key + 1}} de la figure" width="275" height="200">
                {% endfor %}
                {% for video in trick.video %}
                    <iframe width="275" height="200" src="{{ video.Link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                {% endfor %}
            </div>
            <button type="button" class="btn btn-outline-success btn-media mt-2" onclick="showMedias()" id="btn-media">Voir les medias</button>
            <div class="trick-description text-center mt-4 w-75">
                <p>{{ trick.description }}</p>
            </div>
            <div class="trick-important-information d-flex flex-row gap-3 flex-wrap justify-content-center">
                <button type="button" class="btn btn-outline-success">Groupe: {{ trick.category.name }}</button>
                <button type="button" class="btn btn-outline-success">Crée le : {{ trick.createdAt|date("d/m/Y") }}</button>
                <button type="button" class="btn btn-outline-success">Modifié le : {{ trick.updatedAt|date("d/m/Y") }}</button>
            </div>
            <hr>
            <div class="trick-form">
                <div class="d-flex gap-3 w-100">
                    {{ form_start(form) }}
                    {{ form_widget(form.Content) }}
                    {{ form_row(form.submit, { 'label': 'Laisser un commentaire'}) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <hr>
            <div class="trick-comments-area mb-5 text-center">
                {% set showLoadBtn = false %}
                {% if trick.message|length > 5 %}
                    {% set showLoadBtn = true %}
                {% endif %}
                {% for key, comment in trick.message %}
                    {% if key <= 5 %}
                        <div class="trick-comment d-flex flex-row mb-2 gap-3 align-items-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/44/44948.png" alt="logo-user">
                            <p class="trick-comment text-start" >{{ comment.content }}</p>
                        </div>
                    {% else %}
                        {% set array = array|merge(comment) %}
                    {% endif %}
                {% endfor %}
                {% if showLoadBtn == true %}
                    <button type="submit" class="btn btn-primary">Charger plus de figures </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
<script>
    function showMedias() {
        let btnElement = document.getElementById("btn-media");
        let mediaElement = document.getElementById("media");
        if (mediaElement.classList.contains("d-flex")) {
            mediaElement.classList.remove("d-flex", "justify-content-center", "flex-row", "gap-3", "flex-wrap");
            btnElement.innerText = "Voir les medias";
        } else {
            mediaElement.classList.add("d-flex", "justify-content-center", "flex-row", "gap-3", "flex-wrap");
            btnElement.innerText = "Cacher les medias";
        }
    }
</script>
{% endblock %}

